<app-navbard></app-navbard>

<table class="table table-striped table-bordered table-hover table-dark" >
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo electrónico</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody > 
      <tr *ngFor="let client of clients" >
        <td>{{client.Name}}</td>
        <td>{{client.Email}}</td>
        <td>{{client.PhoneCodeAndNumber}}</td>
        <td>
        <button type="button" class="btn btn-outline-success " (click)="goToDetail(client.Id)">Detalle</button>
        <button type="button" class="m-3 btn btn-outline-info" (click)="deleteClient(client.Id)">Modificar</button>
        <button type="button" class="m-3 btn btn-outline-danger" (click)="deleteClient(client.Id)">Borrar</button>
      </td>
      </tr>

      <!-- <tr>
        <td>Jane Doe</td>
        <td>jane.doe@example.com</td>
        <td>(555) 555-1313</td>
        <td><button type="button" class="btn btn-outline-primary" >Primary</button>
        <button type="button" class="m-3 btn btn-outline-danger">Primary</button></td>
      </tr> -->

    </tbody>
  </table>


<app-footer></app-footer>