<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Registration Info</h2>
        <form >
          <!-- {
                        "Name": "Suscriptor 1",
                        "Email": "s1@tekus.co",
                        "CountryCode": "CO",
                        "PhoneNumber": "",
                        "JobTitle": "",
                        "Area": "",
                        "Topics": []
                        }, -->

          <div class="input-group">
            <input
              class="input--style-1"
              type="text"
              placeholder="NAME"
              name="name"
              [(ngModel)]="name"
            />
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-1 js-datepicker"
                  type="text"
                  placeholder="EMAIL"
                  name="Email"
                  [(ngModel)]="email"
                />
                <i
                  class="zmdi zmdi-calendar-note input-icon js-btn-calendar"
                ></i>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="CountryCode" [(ngModel)]="countryCode">
                    <option disabled="disabled" selected="selected">
                      Pais de Recidencia
                    </option>
                    <option value="CO (+57)">Colobia</option>
                    <option value="CO (+58)">Venezuela</option>
                    <option value="CO (+51)">Peru</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search">
              <select name="JobTitle" [(ngModel)]="jobTitle">
                <option disabled="disabled" selected="selected">
                  Nombre de La Profecion
                </option>
                <option>Front-End Developer</option>
                <option>Back-End Developer</option>
                <option>Full Stack Developer</option>
              </select>
              <div class="select-dropdown"></div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-1"
                  type="number"
                  placeholder="PHONE NUMBER"
                  name="Numero de telefono"
                  [(ngModel)]="phoneNumber"
                />
              </div>
            </div>
          </div>
          <div class="p-t-20">
            <button class="btn btn-outline-success" (click)="this.handleSubmit()">
              Submit
            </button>
            <button class="btn btn-outline-success" (click)="this.goToHome()">
              Home
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
